<form action="" method="POST">
    <input type="email" name="_username" placeholder="votre email">
    <input type="password" name="_password"  placeholder="votre mot de passe">
    <input type="submit" value="creer">
</form>